<template>
  <q-page class="flex flex-center">
    <q-card class="content">
      <q-tabs
        v-model="tab"
        class="text-grey"
        active-color="primary"
        indicator-color="primary"
        align="justify"
        narrow-indicator
      >
        <q-tab name="mails" label="Professors" />
        <q-tab name="alarms" label="Subjects" />
      </q-tabs>

      <q-separator />

      <q-tab-panels v-model="tab" animated>
        <q-tab-panel name="mails">
          <div class="q-pa-md" flex-center>
            <q-table
              title="Professors"
              :data="professorsList"
              :columns="professorsColumns"
              row-key="lastName"
              class="my-sticky-column-table"
            />

            <q-btn unelevated rounded color="primary" label="Add professors" />
          </div>
        </q-tab-panel>

        <q-tab-panel flex-center name="alarms">
          <q-table title="Subjects" :data="subjectsList" :columns="subjectsColumns" row-key="name" />
          <q-btn unelevated rounded color="primary" label="Add Subjects" />
        </q-tab-panel>
      </q-tab-panels>
    </q-card>
  </q-page>
</template>

<style >
.content {
  width: 100vw;
  height: 100vh;
}

.q-table__container {
  position: relative;
  width: 60vw;
  margin-bottom: 5vh;
  margin-top: 5vh;
}
</style>

<script>
export default {
  name: "Professors",
  data() {
    return {
      tab: "mails",
      professorsColumns: [
        {
          name: "lastName",
          required: true,
          label: "Last Name",
          align: "left",
          field: row => row.firstName,
          format: val => `${val}`,
          sortable: true
        },
        {
          name: "firstName",
          label: "First Name",
          field: "lastName",
          sortable: true,
          sort: (a, b) => parseInt(a, 10) - parseInt(b, 10)
        },
        {
          name: "email",
          label: "Email",
          field: "email",
          sortable: true,
          sort: (a, b) => parseInt(a, 10) - parseInt(b, 10)
        }
      ],
      subjectsColumns: [
        {
          name: "name",
          required: true,
          label: "Name",
          align: "left",
          field: row => row.name,
          format: val => `${val}`,
          sortable: true
        },
        {
          name: "shortName",
          label: "Short Name",
          field: "shortName",
          sortable: true,
          sort: (a, b) => parseInt(a, 10) - parseInt(b, 10)
        },
        {
          name: "year",
          label: "Year",
          field: "year",
          sortable: true,
          sort: (a, b) => parseInt(a, 10) - parseInt(b, 10)
        },
        {
          name: "semester",
          label: "Semester",
          field: "semester",
          sortable: true,
          sort: (a, b) => parseInt(a, 10) - parseInt(b, 10)
        }
      ],
      subjectsList: [
        {
          name: "Algoritmi si Tehnici de Programare ",
          shortName: "ATP",
          year: 1,
          semester: 2
        },
        {
          name: "Economie",
          shortName: "Economie",
          year: 1,
          semester: 1
        }
      ],
      professorsList: [
        {
          firstName: "Frozen Yogurt",
          lastName: "Cherry",
          email: 6.0
        },
        {
          firstName: "Cini",
          lastName: "Minis",
          email: 6.0
        },
        {
          firstName: "Frozen Yogurt",
          lastName: "Cherry",
          email: 6.0
        },
        {
          firstName: "Cini",
          lastName: "Minis",
          email: 6.0
        },
        {
          firstName: "Frozen Yogurt",
          lastName: "Cherry",
          email: 6.0
        },
        {
          firstName: "Cini",
          lastName: "Minis",
          email: 6.0
        },
        {
          firstName: "Frozen Yogurt",
          lastName: "Cherry",
          email: 6.0
        },
        {
          firstName: "Cini",
          lastName: "Minis",
          email: 6.0
        },
        {
          firstName: "Frozen Yogurt",
          lastName: "Cherry",
          email: 6.0
        },
        {
          firstName: "Cini",
          lastName: "Minis",
          email: 6.0
        },
        {
          firstName: "Frozen Yogurt",
          lastName: "Cherry",
          email: 6.0
        },
        {
          firstName: "Cini",
          lastName: "Minis",
          email: 6.0
        },
        {
          firstName: "Frozen Yogurt",
          lastName: "Cherry",
          email: 6.0
        },
        {
          firstName: "Cini",
          lastName: "Minis",
          email: 6.0
        },
        {
          firstName: "Frozen Yogurt",
          lastName: "Cherry",
          email: 6.0
        },
        {
          firstName: "Cini",
          lastName: "Minis",
          email: 6.0
        },
        {
          firstName: "Frozen Yogurt",
          lastName: "Cherry",
          email: 6.0
        },
        {
          firstName: "Cini",
          lastName: "Minis",
          email: 6.0
        },
        {
          firstName: "Frozen Yogurt",
          lastName: "Cherry",
          email: 6.0
        },
        {
          firstName: "Cini",
          lastName: "Minis",
          email: 6.0
        },
        {
          firstName: "Frozen Yogurt",
          lastName: "Cherry",
          email: 6.0
        },
        {
          firstName: "Cini",
          lastName: "Minis",
          email: 6.0
        },
        {
          firstName: "Frozen Yogurt",
          lastName: "Cherry",
          email: 6.0
        },
        {
          firstName: "Cini",
          lastName: "Minis",
          email: 6.0
        },
        {
          firstName: "Frozen Yogurt",
          lastName: "Cherry",
          email: 6.0
        },
        {
          firstName: "Cini",
          lastName: "Minis",
          email: 6.0
        },
        {
          firstName: "Frozen Yogurt",
          lastName: "Cherry",
          email: 6.0
        },
        {
          firstName: "Cini",
          lastName: "Minis",
          email: 6.0
        }
      ]
    };
  }
};
</script>