<template>
  <q-layout view="hHh lpR fFf">
    <q-header elevated>
      <q-toolbar>
        <q-toolbar-title>SPlanner App</q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      bordered
      content-class="bg-grey-2"
      :breakpoint="767"
      :width="250"
    >
      <q-list>
        <q-item clickable exact to="/">
          <q-item-section avatar>
            <q-icon name="home" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Home</q-item-label>
          </q-item-section>
        </q-item>

        <q-item clickable exact to="/schedule">
          <q-item-section avatar>
            <q-icon name="list" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Schedule</q-item-label>
          </q-item-section>
        </q-item>

        <q-item clickable exact to="/management">
          <q-item-section avatar>
            <q-icon name="bookmarks" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Management</q-item-label>
          </q-item-section>
        </q-item>

        <q-item clickable exact to="/professors">
          <q-item-section avatar>
            <q-icon name="school" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Professors</q-item-label>
          </q-item-section>
        </q-item>

        <q-item clickable exact to="/profile">
          <q-item-section avatar>
            <q-icon name="person" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Profile</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>

    <q-footer>
      <q-tabs v-model="tab">
        <q-route-tab name="home" icon="home" to="/" />
        <q-route-tab name="list" icon="list" to="/schedule" />
        <q-route-tab name="bookmarks" icon="bookmarks" to="/management" />
        <q-route-tab name="school" icon="school" to="/professors" />
        <q-route-tab name="person" icon="person" to="/profile" />
      </q-tabs>
    </q-footer>
  </q-layout>
</template>

<script>
import { openURL } from "quasar";

export default {
  name: "MyLayout",
  data() {
    return {
      leftDrawerOpen: this.$q.platform.is.desktop
    };
  },
  methods: {
    openURL
  }
};
</script>

<style>
@media screen and (min-width: 768px) {
  .q-footer {
    display: none;
  }
}
</style>
